* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #fff;
}
header {
    background: url(img/background.jpg) no-repeat center / cover;
    height: 750px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.logo {
    color: #fff;
    font-size: 1.2em;
    text-transform: capitalize;
}
.logo span {
    color: rgb(100%, 0%, 40%);
}
ul li {
  float: left;
  margin: 30px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 400;
    color: #fff;
}
.links li a {
    transition: color .4s;
} 
.links li a:hover {
    color: rgb(100%, 0%, 40%);
}
.subscribe {
    background-color: rgb(100%, 0%, 40%);
    padding: 8px 30px;
    border-radius: 20px;
    transition: transform .5s;
}
nav .subscribe:hover,
.socials > div a:hover {
    transform: scale(1.3);
}
.header_content {
    margin: 100px 150px;
}
.header_content p:first-child {
    color: rgb(100%, 90%, 90%);
    font-size: 1.2em;
}
h1 {
    color: #fff;
    font-size: 70px;
}
h1 span {
    color: rgb(100%, 0%, 40%);
}
.header_content p:last-of-type {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
}
.header_content div {
    margin: 50px 0;
}
input[type=email] {
    padding: 10px 70px;
    border-radius: 20px;
    border: 1px solid rgb(100%, 0%, 40%);
}
input[type=email]::placeholder {
transform: translateX(-50px);
}
input[type=button] {
    background-color: rgb(100%, 0%, 40%);
    color: #fff;
    padding: 7px 30px;
    border-radius: 20px;
    border: none;
    transform: translateX(-130px);
}
.about {
    padding: 50px 300px;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about img {
    width: 380px;
    height: 450px;
}
.left {
    margin-right: 20px;
}
.right {
    margin-left: 20px;
}
.right p:first-of-type {
    font-size: 1.2em;
    color: #fff;
    margin: 10px 0;
}
.right p:first-of-type span {
    color: rgb(100%, 0%, 40%);
}
.right p:last-of-type {
    color: rgb(100%, 90%, 90%);
    line-height: 1.7;
}
.right .subscribe {
    display: inline-block;
    margin-top: 30px;
    transition: all .4s;
}
.right .subscribe:hover,
.services .subscribe:hover,
.hire .subscribe:hover {
    background-color: transparent;
    outline: 1px solid rgb(100%, 0%, 40%);
}
.services {
    background-color: #000;
    padding: 50px;
}

.services > div {
    display: flex;
    justify-content: center;
    text-align: center;
}
.services > div > div {
    background-color: rgb(15, 15, 15);
    width: 400px;
    margin: 10px;
    border-radius: 7px;
    padding: 30px;
}
.services h1 {
    text-align: center;
}
h2{
    color: #fff;
}
.services p {
    color: rgb(100%, 90%, 90%);
    margin: 10px 0;
}
.services .subscribe,
.hire .subscribe {
    width: 150px;
    margin: 10px auto;
    transition: all .5s;
}
.services img {
    width: 10%;
}
.hire {
    background-color: #111;
    padding: 20px;
    text-align: center;
}
.hire h2 {
    text-transform: capitalize;
    font-size: 2em;
    margin: 20px 0;
}
.socials {
    background-color: #000;
    text-align: center;
    padding: 50px;
}
.socials p {
    color: rgb(100%, 90%, 90%);
    margin: 20px 0;
}
.socials span {
    background-color: rgb(100%, 0%, 40%);
    border-radius: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 2px;
}
.socials img {
    width: 20px;
}
.socials a:first-child span img {
    width: 10px;
} 
.socials a {
    display: inline-block;
    transition: transform .5s;
}
@media(max-width: 760px) {  
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .header_content h1 {
        font-size: 2em;
    }
    input {
        display: block;
        width: 250px;
        margin: 5px 0;
    }
    input[type="button"] {
        transform: translateX(0);
    }
    .about {
        flex-direction: column;
        padding: 10px 0;
    }
    .about h1 {
         font-size: 2em;
         text-align: center;
    }
    .right p:first-of-type {
        font-size: 1em;
        text-align: center;
    }
    .right p:last-of-type {
          font-size: .7em;
          text-align: center;
    }
    .about img {
        width: 250px;
        height: 300px;
    }
    nav {
        flex-direction: column;
    }
    ul {
        display: none;
    }
    ul li {
        float: none;
    }
    .header_content {
        margin: 0;
    }
    .services {
        padding: 0;
    }
     .services > div {
          flex-direction: column;
      }  
      .services > div > div {
          padding: 8px;
          width: 250px;
          height: 200px;
      }
    .services h1 {
        font-size: 1.7em;
    }
    .services h2 {
        font-size: 1em;
    }
    .services p {
        font-size: .7em;
        line-height: 1;
    }
    .services .subscribe {
     
    }
    .hire {

    }
    .hire h2 {
        font-size: 1em;
        text-align: center;

    }
    .socials {
        padding: 0;
    }
  
    
}